<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-51">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Book A Design Consultation</h2>
            <p class="cs-text">
                When you meet with a noblessa designer you will receive a complimentary estimate based on your project, referrals to contractors, access to noblessa’s complete content library, and an in-depth analysis of appliances and countertops to help bring your kitchen to life.
            </p>
            <button class="cs-button-nodeco-white">
                <span class="cs-hover-underline-white"> Get In Touch </span>
                <svg id="arrow-horizontal" xmlns="http://www.w3.org/2000/svg" width="30" height="10" viewBox="0 0 46 16" fill="#ffffff">
                    <path id="Path_10" data-name="Path 10" d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z" transform="translate(30)"></path>
                </svg>
            </button>
        </div>
    </div>
    <!-- Background Image-->
    <picture class="cs-picture">
        <img src="/assets/images/cabinets.jpg" alt="cabinets" width="1920" height="426" loading="lazy" decoding="async">
    </picture>
</section>