<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-51">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Book A Design Consultation</h2>
            <p class="cs-text">
                When you meet with a noblessa designer you will receive a complimentary estimate based on your project, referrals to contractors, access to noblessa’s complete content library, and an in-depth analysis of appliances and countertops to help bring your kitchen to life.
            </p>
            <a href="/contact" class="cs-button-nodeco-white">
                <span class="cs-hover-underline-white"> Live The Beautiful Life </span>
                <img src="./assets/svgs/horizontal-arrow.svg" alt="arrow" width="30" height="10">
            </a>
        </div>
    </div>
    <!-- Background Image-->
    <picture class="cs-picture">
        <img src="/assets/images/cabinets.jpg" alt="cabinets" width="1920" height="426" loading="lazy" decoding="async">
    </picture>
</section>