<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-1390">
    <div class="cs-container">
        <div class="cs-top">
            <a aria-label="go back to home" class="cs-logo" href="/">
                noblessa
            </a>
        </div>
        <div class="cs-bottom">
            <div class="cs-contact">
                <div class="cs-contact-group">
                    <span class="cs-header">Contact</span>
                    <a href="tel:{{ client.phoneForTel }}" class="cs-contact-link">
                        {{ client.phoneFormatted }}
                    </a>
                    <a href="mailto:{{ client.email }}" class="cs-contact-link">
                        {{ client.email }}
                    </a>
                </div>
            </div>
            <div class="cs-social">
                <span class="cs-header">Follow Us</span>
                <div class="cs-social-group">
                    <a aria-label="visit facebook" href="{{ client.socials.facebook }}" class="cs-social-link" target="_blank" rel="noopener">
                        <img class="cs-social-icon" src="/assets/svgs/facebook.svg" alt="facebook" width="12" height="12" loading="lazy" decoding="async">
                    </a>
                    <a aria-label="visit instagram" href="{{ client.socials.instagram }}" class="cs-social-link" target="_blank" rel="noopener">
                        <img class="cs-social-icon" src="/assets/svgs/instagram.svg" alt="instagram" width="12" height="12" loading="lazy" decoding="async">
                    </a>
                </div>
            </div>
        </div>
        <div class="cs-bottom-content">
            <div class="cs-flex">
                <span class="cs-copyright">
                    © 2025 noblessa USA. All rights reserved.
                </span>
                <span class="cs-certification">
                    German Engineering • Sustainable Materials • Premium Quality
                </span>
            </div>
        </div>
    </div>
</footer>
