---
title: "The Silva Project | Noblessa USA"
description: "Meta description for the page"
permalink: "/clients/silva/"
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/client.css">
    <link rel="preload" as="video" href="../../assets/videos/showrooms1080x1920.webm"/>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                   Banner                     -->
    <!-- ============================================ -->

    <div id="banner-2285">
        <div class="cs-container">
            <div class="cs-text-wrapper">
                <span class="cs-int-title sl-fade-in-down">The Silva Project</span>
                <!-- <p class="cs-text sl-fade-in-down">
                    Tucked away in the heart of Los Angeles, The Youngers' home is a testament to modern elegance and functional design. See how noblessa's bespoke solutions can transform a space into a sanctuary of style and comfort.
                </p> -->
            </div>
            <div class="cs-breadcrumbs">
                <a href="/" class="cs-link">home</a>
                <a href="/clients" class="cs-link">clients</a>
                <a href="/clients/silva" class="cs-link cs-active">silva</a>
            </div>
        </div>
        <!--Background Video-->
        <video src="/assets/videos/youngers1080x1920.webm" class="cs-video" autoplay muted playsinline loop preload="auto"></video>
    </div>

    <!-- ============================================ -->
    <!--                 SBS Left                   -->
    <!-- ============================================ -->

    <section id="sbs-left">
        <div class="cs-container">
            <div class="cs-image-group">
                <!--Main Image-->
                <img class="cs-picture" src="/assets/images/silva/silvahome1.webp">
            </div>
            <div class="cs-content">
                <span class="cs-topper sl-fade-in-down">The Silva Project</span>
                <span class="cs-divider"></span>
                <h2 class="cs-title sl-fade-in-down">Coming Soon</h2>
            </div>
        </div>
    </section>     

    {% include 'sections/cta.html' %}

{% endblock %}