---
title: "The Youngers | Noblessa USA"
description: "Meta description for the page"
permalink: "/clients/youngers/"
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/client.css">
    <link rel="preload" as="video" href="../../assets/videos/showrooms1080x1920.webm"/>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                   Banner                     -->
    <!-- ============================================ -->

    <div id="banner-2285">
        <div class="cs-container">
            <span class="cs-int-title">The Youngers</span>
            <p class="cs-text">
                View our designer collections to find the perfect kitchen, bath, or living space that reflects your style and meets your needs. Each collection is crafted with precision and elegance, offering a unique blend of functionality and beauty.
            </p>
            <div class="cs-breadcrumbs">
                <a href="/" class="cs-link">home</a>
                <a href="/clients" class="cs-link">clients</a>
                <a href="/clients/youngers" class="cs-link cs-active">youngers</a>
            </div>
        </div>
        <!--Background Video-->
        <video src="/assets/videos/showrooms1080x1920.webm#t=10" class="cs-video" autoplay muted playsinline loop preload="auto"></video>
    </div>

    <!-- ============================================ -->
    <!--                 SBS Left                   -->
    <!-- ============================================ -->

    <section id="sbs-left">
        <div class="cs-container">
            <div class="cs-image-group">
                <!--Main Image-->
                <img class="cs-picture" src="/assets/images/lazar/lazarhome1.webp" alt="The Lazars">
            </div>
            <div class="cs-content">
                <span class="cs-topper sl-fade-in-down">Our Legacy</span>
                <h2 class="cs-title sl-fade-in-down">noblessa: german craft, unmatched precision</h2>
                <span class="cs-divider sl-fade-in-down"></span>
                <p class="cs-text sl-fade-in-left">
                    At noblessa, German engineering meets uncompromising excellence. Within our state-of-the-art factories, every element, from cabinetry to drawers and handles, is meticulously crafted with precision, using only the finest materials and the expertise synonymous with German design heritage. Each piece undergoes rigorous, multi-stage quality control to ensure flawless performance and aesthetic harmony. This relentless pursuit of quality is what elevates noblessa into a class of its own.
                </p>
                <p class="cs-text sl-fade-in-left">
                    Environmental and energy responsibility is integral to everything we do. We are proud to hold the Blauer Engel Award, the GS Quality Seal, the Golden M, and PEFC Certification - each a testament to our commitment to sustainable materials, responsible forestry, and safe production. Beyond our manufacturing, we partner exclusively with shipping providers on track to reach NetZero emissions by 2030, ensuring our dedication to sustainability extends from creation to delivery.
                </p>
                <a href="/collections" class="cs-button-nodeco sl-fade-in-left">
                    <span class="cs-hover-underline"> Explore Noblessa </span>
                    <img src="/assets/svgs/horizontal-arrow.svg" alt="arrow" width="30" height="10">
                </a>
            </div>
        </div>
    </section>     

    {% include 'sections/cta.html' %}

{% endblock %}