---
title: "noblessa USA | Live The Beautiful Life"
description: "Meta description for the page"
permalink: "/"
tags: "sitemap" # content/content.json will make sure that all pages in content/ are marked with a "sitemap" tag, for automatic sitemap generation. As index.html is not in content/, we need to add it here to ensure the root page is included in the sitemap generation
---

{% extends "layouts/base.html" %}

{% block head %}
    <!-- Critical styles are loaded first -->
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Hover Effect Styles -->
    <script defer type="module" src="assets/js/hover.js"></script>

    <!-- Transform Gallery JS -->
    <script defer src="assets/js/transformgallery.js"></script>

    <!-- If we're in production, defer the rest of the home page styles. In development, always load it. Otherwise the site will break when hot-reload is used. -->
    {% if kit.isProduction %}
        <link rel="preload" href="/assets/css/local.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript>
            <link rel="stylesheet" href="/assets/css/local.css">
        </noscript>

    {% else %}
        <link rel="stylesheet" href="/assets/css/local.css"/>
    {% endif %}

    <!-- To ensure proper validation, prevent errors, and encourage developers to check, schema's are an opt-in feature. They're very bespoke and requires some customising  -->
    <!-- Uncomment the code below to enable Structured Data, and test it when you deploy to Netlify - https://developers.google.com/search/docs/appearance/structured-data -->
    <!-- {% include "components/home-schema.html" %} -->
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero-143">
        <div class="cs-container">
            <div class="cs-rigo"></div>
            <h1 class="cs-title">live the beautiful life</h1>
        </div>

        <!-- Background Image -->
        <video src="/assets/videos/youngers1080x1920.webm" class="cs-video" autoplay muted loop></video>
    </section>

    <!-- ============================================ -->
    <!--             Transform Gallery                -->
    <!-- ============================================ -->

    <section id="transform-gallery">
        <div class="cs-container">
            <div class="cs-section-header">
                <div class="cs-left-column">
                    <span class="cs-topper">Our Collections</span>
                    <h2 class="cs-title">transforming living<br>spaces & lives</h2>
                </div>
                <span class="cs-divider"></span>
                <div class="cs-right-column">
                    <p class="cs-text">
                        noblessa has been a brand of excellence for high-end kitchens since 1996. For almost 30 years, our premium kitchens are made in our state-of-the-art factories located in Germany, and overseen by expert craftsmen. From Dubai to Beirut, Los Angeles, Istanbul, and Prague, we have set the benchmark for high-end kitchen design around the world. The perfection of a noblessa kitchen can be seen in the smallest details. More than a brand, it’s a way of life. We are committed to designing living spaces where elegance and harmony reign supreme – by taking our inspiration from you and your desires. That is who we are.
                    </p>
                    <button class="cs-button-nodeco">
                        <span class="cs-hover-underline"> View Our Collection </span>
                        <img src="./assets/svgs/horizontal-arrow.svg" alt="arrow" width="30" height="10">
                    </button>
                </div>
            </div>
            <!-- Gallery -->
            <div class='cs-transform-gallery'>
                <ul class='cs-slider'>
                    <li class='cs-slider-item' style="background-image: url('assets/images/collections/tempo/tempo1.webp')">
                        <div class='cs-slider-content'>
                            <h2 class='cs-title'>tempo</h2>
                            <p class='cs-text'> With glossy black cabinetry and warm wood countertops, this collection is designed to keep urban kitchens modern and fresh. </p>
                            <button class="cs-button-nodeco-white">
                                <span class="cs-hover-underline-white"> See More </span>
                                <img src="./assets/svgs/horizontal-arrow.svg" alt="arrow" width="30" height="10">
                            </button>
                        </div>
                    </li>
                    <li class='cs-slider-item' style="background-image: url('assets/images/collections/spirit/spirit1.webp')">
                        <div class='cs-slider-content'>
                            <h2 class='cs-title'>spirit</h2>
                            <p class='cs-text'>The sleek beauty of slate paired with the natural warmth of wood, the sleek elegance of this collection creates a dynamic look for any urban kitchen.</p>
                            <button class="cs-button-nodeco-white">
                                <span class="cs-hover-underline-white"> See More </span>
                                <img src="./assets/svgs/horizontal-arrow.svg" alt="arrow" width="30" height="10">
                            </button>
                        </div>
                    </li>
                    <li class='cs-slider-item' style="background-image: url('assets/images/collections/sentido/sentido1.webp')">
                        <div class='cs-slider-content'>
                            <h2 class='cs-title'>sentido</h2>
                            <p class='cs-text'> Transform your kitchen with a fresh, chic color scheme with this collection's premium and vibrant design elements. </p>
                            <button class="cs-button-nodeco-white">
                                <span class="cs-hover-underline-white"> See More </span>
                                <img src="./assets/svgs/horizontal-arrow.svg" alt="arrow" width="30" height="10">
                            </button>
                        </div>
                    </li>
                    <li class='cs-slider-item' style="background-image: url('assets/images/collections/chance/chance1.webp')">
                        <div class='cs-slider-content'>
                            <h2 class='cs-title'>chance</h2>
                            <p class='cs-text'>
                            The perfect combination of warm natural wood with the sleek elegance of metal. Whether you're outdoorsy or a homebody, you’ll feel right at home in this collection.
                            </p>
                            <button class="cs-button-nodeco-white">
                                <span class="cs-hover-underline-white"> See More </span>
                                <img src="./assets/svgs/horizontal-arrow.svg" alt="arrow" width="30" height="10">
                            </button>
                        </div>
                    </li>
                    <li class='cs-slider-item' style="background-image: url('assets/images/collections/divine/divine1.webp')">
                        <div class='cs-slider-content'>
                            <h2 class='cs-title'>divine</h2>
                            <p class='cs-text'> With its bold, vibrant colors and a streamlined silhouette, this collection provides a touch of elegance to the kitchen.</p>
                            <button class="cs-button-nodeco-white">
                                <span class="cs-hover-underline-white"> See More </span>
                                <img src="./assets/svgs/horizontal-arrow.svg" alt="arrow" width="30" height="10">
                            </button>
                        </div>
                    </li>
                    <li class='cs-slider-item' style="background-image: url('assets/images/collections/grace/grace1.webp')">
                        <div class='cs-slider-content'>
                            <h2 class='cs-title'>Grace</h2>
                            <p class='cs-text'> Exuding subtle sophistication, whether you prefer warm dark wood or a deep comforting gray for your countertops, this collection lends itself to a dignified and elegant style. </p>
                            <button class="cs-button-nodeco-white">
                                <span class="cs-hover-underline-white"> See More </span>
                                <img src="./assets/svgs/horizontal-arrow.svg" alt="arrow" width="30" height="10">
                            </button>
                        </div>
                    </li>
                </ul>
                <!-- Gallery Navigation -->
                <nav class='nav'>
                    <ion-icon class='btn prev' name="arrow-back-outline"></ion-icon>
                    <ion-icon class='btn next' name="arrow-forward-outline"></ion-icon>
                </nav>
            </div>

            <!-- Gallery Scripts -->
            <script defer type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
            <script defer nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                 What We Do                   -->
    <!-- ============================================ -->

    <section id="sbs-2358">
        <div class="cs-container">
            <div class="cs-flex">
                <div class="cs-image-group">
                    <span class="cs-topper">What We Do</span>
                    <h2 class="cs-title">crafting every element with expertise</h2>
                    <div class="cs-picture cs-picture1"></div>
                    <a href="" class="cs-link">
                        <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/up-right-arrow.svg" alt="icon" width="24" height="24">
                        The Lazar Project, Los Angeles
                    </a>
                </div>
            </div>
            <div class="cs-content">
                <div class="cs-image-group">
                    <div class="cs-picture cs-picture2"></div>
                    <a href="" class="cs-link">
                        <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/up-right-arrow.svg" alt="icon" width="24" height="24">
                        The Silva Project, NYC
                    </a>
                </div>
                <p class="cs-text">
                    noblessa has been a brand of excellence for high-end kitchens since 1996. For almost 30 years, our premium kitchens are made in our state-of-the-art factories located in Germany, and overseen by expert craftsmen. From Dubai to Beirut, Los Angeles, Istanbul, and Prague, we have set the benchmark for high-end kitchen design around the world. The perfection of a noblessa kitchen can be seen in the smallest details. More than a brand, it’s a way of life. We are committed to designing living spaces where elegance and harmony reign supreme – by taking our inspiration from you and your desires. That is who we are.
                </p>
                <ul class="cs-stat-group">
                    <li class="cs-stat">
                        <span class="cs-number">5K <span class="cs-color">+</span></span>
                        <span class="cs-desc">Cabinet Variations</span>
                    </li>
                    <li class="cs-stat">
                        <span class="cs-number">30 <span class="cs-color">+</span></span>
                        <span class="cs-desc">Years in Business</span>
                    </li>
                    <li class="cs-stat">
                        <span class="cs-number">1.4K <span class="cs-color">+</span></span>
                        <span class="cs-desc">Completed Projects</span>
                    </li>
                    <li class="cs-stat">
                        <span class="cs-number">20 <span class="cs-color">+</span></span>
                        <span class="cs-desc">Awards & Certifications</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
                                  
    <!-- ============================================ -->
    <!--                  About Us                    -->
    <!-- ============================================ -->

    <section id="sbs-2346">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">The Best Place for Your Dream Home is Here, Where Luxury Meets Tranquility</h2>
                <p class="cs-text">
                    At noblessa, we seamlessly blend innovative design with functionality, creating spaces that inspire, elevate, and endure. From visionary concepts to flawless execution, we craft architectural masterpieces. Urban design draws together the many strands of place-making, environmental stewardship. We craft premium digital work for web, mobile and experiential with creative agencies and global brands.
                </p>
                <button class="cs-button-nodeco">
                    <span class="cs-hover-underline"> Schedule a Consultation</span>
                    <img src="./assets/svgs/horizontal-arrow.svg" alt="arrow" width="30" height="10">
                </button>
            </div>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/walnutkitchen.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/walnutkitchen.webp">
                <img loading="lazy" decoding="async" src="/assets/images/walnutkitchen.webp" alt="building" width="1280" height="568">
            </picture>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                 Our Legacy                   -->
    <!-- ============================================ -->

    <section id="sbs-2369">
        <div class="cs-container">
            <div class="cs-image-group">
                <!--Main Image-->
                <div class="cs-picture cs-picture3"></div>
            </div>
            <div class="cs-content">
                <span class="cs-topper">Our Legacy</span>
                <h2 class="cs-title">the best place for your dream home is here, where luxury meets tranquility</h2>
                <span class="cs-divider"></span>
                <p class="cs-text">
                    At noblessa, we seamlessly blend innovative design with functionality, creating spaces that inspire, elevate, and endure. From visionary concepts to flawless execution, we craft architectural masterpieces. Urban design draws together the many strands of place-making, environmental stewardship. We craft premium digital work for web, mobile and experiential with creative agencies and global brands.
                </p>
                <button class="cs-button-nodeco">
                    <span class="cs-hover-underline"> View Our Collection </span>
                    <img src="./assets/svgs/horizontal-arrow.svg" alt="arrow" width="30" height="10">
                </button>
            </div>
        </div>
    </section>
                
    <!-- ============================================ -->
    <!--                 Services                     -->
    <!-- ============================================ -->
                                    
    <section id="services-2346">
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <img class="cs-icon" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/arch7.svg" alt="icon" width="24" height="24">
                    <h2 class="cs-h2">Expensive Living Spaces</h2>
                    <p class="cs-item-text">
                        Urban design draws together the many strands of place-making, environmental stewardship.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <img class="cs-icon" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/arch8.svg" alt="icon" width="24" height="24">
                    <h2 class="cs-h2">Smart Home Integration</h2>
                    <p class="cs-item-text">
                        Urban design draws together the many strands of place-making, environmental stewardship.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <img class="cs-icon" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/arch9.svg" alt="icon" width="24" height="24">
                    <h2 class="cs-h2">Home Security System</h2>
                    <p class="cs-item-text">
                        Urban design draws together the many strands of place-making, environmental stewardship.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <img class="cs-icon" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/arch10.svg" alt="icon" width="24" height="24">
                    <h2 class="cs-h2">Covered Parking</h2>
                    <p class="cs-item-text">
                        Urban design draws together the many strands of place-making, environmental stewardship.
                    </p>
                </a>
            </li>
        </ul>
    </section>
                                    

    {% include 'sections/cta.html' %}
{% endblock %}