---
title: "noblessa USA | Live The Beautiful Life"
description: "Meta description for the page"
permalink: "/"
tags: "sitemap" # content/content.json will make sure that all pages in content/ are marked with a "sitemap" tag, for automatic sitemap generation. As index.html is not in content/, we need to add it here to ensure the root page is included in the sitemap generation
---

{% extends "layouts/base.html" %}

{% block head %}
    <!-- Critical styles are loaded first -->
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- If we're in production, defer the rest of the home page styles. In development, always load it. Otherwise the site will break when hot-reload is used. -->
    {% if kit.isProduction %}
        <link rel="preload" href="/assets/css/local.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript>
            <link rel="stylesheet" href="/assets/css/local.css">
        </noscript>

    {% else %}
        <link rel="stylesheet" href="/assets/css/local.css"/>
    {% endif %}

    <!-- To ensure proper validation, prevent errors, and encourage developers to check, schema's are an opt-in feature. They're very bespoke and requires some customising  -->
    <!-- Uncomment the code below to enable Structured Data, and test it when you deploy to Netlify - https://developers.google.com/search/docs/appearance/structured-data -->
    <!-- {% include "components/home-schema.html" %} -->
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero-143">
        <div class="cs-container">
            <div class="cs-rigo"></div>
            <h1 class="cs-title">live the beautiful life</h1>
        </div>

        <!-- Background Image -->
        <video src="/assets/videos/youngers1080x1920.webm" class="cs-video" autoplay muted loop></video>
    </section>


    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs-2369">
        <div class="cs-container">
            <div class="cs-image-group">
                <!--Main Image-->
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/noblessa_values_customize.webp">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/noblessa_values_customize.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/noblessa_values_customize.webp" alt="" width="565" height="814">
                </picture>
            </div>
            <div class="cs-content">
                <span class="cs-topper">Our Legacy</span>
                <h2 class="cs-title">transforming living spaces & lives</h2>
                <span class="cs-divider"></span>
                <p class="cs-text">
                    noblessa has been a brand of excellence for high-end kitchens since 1996. For almost 30 years, our premium kitchens are made in our state-of-the-art factories located in Germany, and overseen by expert craftsmen. From Dubai to Beirut, Los Angeles, Istanbul, and Prague, we have set the benchmark for high-end kitchen design around the world. The perfection of a noblessa kitchen can be seen in the smallest details. More than a brand, it’s a way of life. We are committed to designing living spaces where elegance and harmony reign supreme – by taking our inspiration from you and your desires. That is who we are.
                </p>
                <button class="cs-button-nodeco">
                    <span class="cs-hover-underline"> View Our Collection </span>
                    <svg id="arrow-horizontal" xmlns="http://www.w3.org/2000/svg" width="30" height="10" viewBox="0 0 46 16">
                        <path id="Path_10" data-name="Path 10" d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z" transform="translate(30)"></path>
                    </svg>
                </button>
            </div>
        </div>
    </section>

    {% include 'sections/cta.html' %}
{% endblock %}